body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRwG6zE_GdWL0j8JfHB4RrkO9m7ggteM45czo-lNNbgrYIFAva&usqp=CAU");
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    text-align: center;
}
input{
    height:40px;
    width: 400px;
}
::placeholder{
    color:teal;
    text-align: center;
}
p{
    font-weight: bold;
    color:white;
}
h2{
    font-size: 30px;
}
h3{
    margin-top:5%;
}
.btn{
    width:250px;
    background-color: rgb(94, 94, 204);
    color:wheat;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn:hover{
    opacity: 0.8;
    color:yellow;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
  
}